@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: "PaytoneOne";
  src: url("/font/PaytoneOne.ttf") format("truetype");
}

@font-face {
  font-family: "Antonio";
  src: url("/fonts/Antonio.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto.ttf") format("truetype");
}

@theme {
  /* Her tilføjes theme variable // tokens */
  /* Farver */
  --color-primary-400: #3e3e3e;
  --color-primary-500: #cb6757;
  /* --color-primary-600: #006d75;
  --color-secondary-400: #f5e400;
  --color-secondary-500: #c55451;
  --color-secondary-600: #f57a00; */
}
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
}
@layer utilities {
  .font-paytoneone {
    font-family: "PaytoneOne", sans-serif;
  }
}
