@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: "PaytoneOne";
  src: url("/font/PaytoneOne.ttf") format("truetype");
}

@font-face {
  font-family: "Antonio";
  src: url("/font/Antonio.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("/font/Roboto.ttf") format("truetype");
}

@theme {
  --color-red: #cb6757;
  --color-green: #56905f;
  --color-blue: #02a1b9;
  --color-yellow: #d1b641;
  --color-black: #1b1b1b;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
}
@layer utilities {
  .font-paytoneone {
    font-family: "PaytoneOne", sans-serif;
  }
  .font-roboto {
    font-family: "Roboto";
  }
}

p {
  font-family: "Roboto";
}

h1 {
  font-family: "PaytoneOne", sans-serif;
}

h2 {
  font-family: "PaytoneOne", sans-serif;
}

h3 {
  font-family: "Roboto";
}

li {
  font-family: "Roboto";
}
