---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
---

<MainLayout>
  <main>
    <Heading
      Htmlheading="h1"
      size="large"
      font="anton"
      class="text-4xl md:text-6xl font-bold text-white mb-8 text-center"
    >
      FOTOGRAFI
    </Heading>
  </main>
</MainLayout>
