---
const { variant = "red" } = Astro.props;

const buttonstyling = "my-5 border-solid border-2 px-2 py-2 rounded-2xl font-semibold";

const variantClasses = {
  red: "border-red-500 text-red-500",
  green: "border-green-500 text-green-500",
  blue: "border-blue-500 text-blue-500",
  yellow: "border-yellow-200 text-yellow-500",
};
---

<button class={`${buttonstyling} ${variantClasses[variant] || ''}`}><slot/></button>