---

---

<section class="mx-10 pt-8">
    <h1 class="text-6xl text-[var(--color-black)] mb-5 lg:text-7xl">THE CATEGORIES</h1>
    <h3 class="lg:text-center lg:mt-5">THESE ARE THE FOUR CATEGORIES FOR THE 2025 COMPETITION:</h3>
    <div class="flex max-w-lg mt-3 font-semibold justify-between md:mb-10 lg:mx-auto">
        <p class="text-red">Experimental</p>
        <p class="text-green">Portrait</p>
        <p class="text-blue">Nature</p>
        <p class="text-yellow">Slice Of Life</p>
    </div>
</section>