---
import Heading from "./Heading.astro";
---

<section class="mx-10 pt-8">
  <Heading
    htmlheading="h1"
    size="large"
    font="paytoneone"
    stylingclasses="w-full text-4xl md:text-6xl color-primary-400 text-center"
  >
    THE CATEGORIES
  </Heading>

  <h3 class="lg:text-center lg:mt-5">
    THESE ARE THE FOUR CATEGORIES FOR THE 2025 COMPETITION:
  </h3>
  <div
    class="flex max-w-lg mt-3 font-semibold justify-between md:mb-10 lg:mx-auto"
  >
    <p class="text-red">Experimental</p>
    <p class="text-green">Portrait</p>
    <p class="text-blue">Nature</p>
    <p class="text-yellow">Slice Of Life</p>
  </div>
</section>
