---
---

<section class="bg-black grid place-items-center py-20">
 <div class="max-w-md md:max-w-2xl lg:max-w-5xl">
    <div class="pb-10">
     <h1 class="text-6xl text-white font-bold">INSTANT DAY</h1>
    <h3 class="text-white">CELEBRATE INSTANT DAY ON OCT. 18</h3>
   </div>

    <div class="grid grid-cols-2 pb-10">
            <ul class="font-semibold">
                <li class="text-blue-500 pb-5">save the date</li>
                <li class="text-yellow-500 pb-5">share with a friend</li>
                <li class="text-green-500 pb-5">join the competiton</li>
                <li class="text-red-500">contact us</li>
            </ul>
        
            <div class="flex flex-col h-full">
                <img class="ml-auto" src="../../public/img/iconWhite.png" alt="Instant Day's logo">
                
                <div class="text-white text-right mt-auto font-semibold">
                    <p>instagram</p>
                    <p>facebook</p>
                </div>
            </div>
    </div>

    <div class="md:grid md:grid-cols-2">
      <p class="text-white pt-5 opacity-70">Instant Day is not affiliated to any companies within the Instant Photography industry. The only organisation backing us is EK - Business Academy Copenhagen. At least so far;-) </p>
    </div>
 </div>
</section>
